<!DOCTYPE html>
<html>
<head>
    
    <title>226 scouting</title>
    <meta name="keywords" content="troop 226, girls troop 226, boys troop 226, pack 226, troop, pack, 226, scouts, scouting, scout website, troop website, Alex Ortiz">
    <link rel="stylesheet" text="text/scss" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
    <div class="locked">
        <header class="main-header">
            <div class="container">
                <a href="https://www.scouting.org/" target="_blank">
                <img src="https://cbc-scouts-226.s3.amazonaws.com/logo.png" height="50" width="50" class="logo">
                </a>
                <h1 id="title">226 Scouting</h1>
            </div>
        </header>
        <nav class="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{ site.baseurl }}/index">Home</a></li>
                    <li><a href="{{ site.baseurl }}/boys">Boys Troop</a></li>
                    <li><a href="{{ site.baseurl }}/girls">Girls Troop</a></li>
                    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                    <li><a href="https://www.pack226sa.com">Pack</a></li>
                    <li><a href="{{ site.baseurl }}/posts">Posts</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="main">
        {{ content }}
    <p class="copy">Copyright &copy; 2021</p>
    <img class="footer" src="https://cbc-scouts-226.s3.amazonaws.com/scout_footer.jpg">
    </div>
</body>
</html>
